{% extends "base.html" %}

{% load static %}

{% block page_header %}
    Breadcrumbs
    <h1>My Profile</h1>
{% endblock %}

{% block content %}
<div class="container bg-light">
    <div class="row">
        <div class="col s12 l6 column-large">
            <h2>Review {{ product.name }}</h2>
            <p>Please fill out the form with your thoughts about {{ product.name }}</p>
            <form action="{% url 'write_review' product.id %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
                <!--Closing div should be here-->
                <button>Submit Review</button>
            </form>
        </div>
        <div class="col l6 hide-on-med-and-down show-on-large column-large">
            <img src="{{ product.boxart.url }}" alt="{{ product.name }}" class="responsive-img">
        </div>
    </div>
</div>
{% endblock %}