{% extends "base.html" %}

{% load static %}

{% load cart_tools %}

{% block page_header %}
    Breadcrumbs
    <h1>Your Shopping Cart</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% if items_in_cart %}
            {% for item in items_in_cart %}
                <div class="row">
                    <div class="col s12 m2">
                        <p>Image</p>
                    </div>
                    <div class="col s12 m3">
                        <p>{{ item.product.name }}</p>
                        <p>{{ item.quantity }} @ €{{ item.product.price }}</p>
                    </div>
                    <div class="col s12 m4">
                        <form class="form" method="POST" action="{% url 'update_cart' item.product_id %}">
                            {% csrf_token %}
                            <span class="hide-on-large-only qty-btn qty-decrease" data-product-id="{{ item.product.id }}" id="decrease-qty_{{ item.product.id }}">-</span>
                            <input class="product-qty-input narrow-input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.inventory }}" data-item_id="{{ product.id }}" id="product-qty-input">
                            <span class="hide-on-large-only qty-btn qty-increase" data-product-id="{{ item.product.id }}" id="increase-qty_{{ item.product.id }}">+</span>
                        </form>
                        <a href="#" class="update-qty">Update Quantity</a>
                        <a href="#" class="remove-item" id="remove_{{ item.product_id }}">Remove Item</a>
                    </div>
                    <div class="col s12 m2">
                        <p>€{{ item.product.price | calculate_subtotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col s10 m5 offset-m2">
                    <p>Cart Total:</p>
                    <p>Delivery Cost:</p>
                    <p>Grand Total:</p>
                </div>
                <div class="col s2 m4">
                    <p>€{{ total }}</p>
                    {% if delivery %}
                        <p>€{{ delivery }}</p>
                    {% else %}
                        <p>FREE</p>
                    {% endif %}
                    <p>€{{ grand_total }}</p>
                </div>
                {% if delivery %}
                    <p>Spend {{ free_delivery_remainder }} more to avail of free delivery</p>
                {% endif %}
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{% url 'products' %}" class="waves-effect waves-light btn"><i class="fas fa-store-alt prefix"></i> Continue Shopping</a>
                        <a href="{% url 'checkout' %}" class="waves-effect waves-light btn"><i class="far fa-credit-card"></i> Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Your cart is currently empty</p>
            <a class="waves-effect waves-light btn"><i class="fas fa-store-alt prefix"></i> Browse all products</a>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
        const updateItemBtns = document.querySelectorAll(".update-qty")
        updateItemBtns.forEach(updateBtn => updateBtn.addEventListener("click", updateItem))

        function updateItem(e) {
            console.log("You wish to update")
            console.log(this)
            console.log(this.previousElementSibling)
            const itemForm = this.previousElementSibling
            itemForm.submit();

        }
    </script>

    <script type="text/javascript">
        const removeItemBtns = document.querySelectorAll(".remove-item")
        removeItemBtns.forEach(removeBtn => removeBtn.addEventListener("click", removeItem))

        function removeItem(e) {
            const csrfToken = "{{ csrf_token }}"
            console.log("Removing")
            console.log(this) 
            const productId = this.getAttribute("id").split("_")[1]
            const url = `/cart/remove/${productId}/`
            const data = {"csrfmiddlewaretoken": csrfToken}
            console.log(csrfToken)

            const request = new XMLHttpRequest();
            request.open("POST", url, true);
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            request.setRequestHeader('X-CSRFToken', csrfToken);
            request.send(data)
            location.reload()
        } 
    </script>
{% endblock %}