{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="carousel">
        <div class="carousel-panel">
            <p>Background Image with faded overlay</p>
            <h1>Publisher Spotlight</h1>
            <p>From games about spies and treachery to founding a fledgling civilization, 999 Games has something for everyone.</p>
            <a class="waves-effect waves-light btn"><i class="fas fa-store-alt prefix"></i> Shop the range</a>
        </div>
    </div> 

    Featured Best Seller
        - Card
        - Game Image
        - Price
        - Reviews
        - More Details Button 
        - Add to Cart Button 
        - Add to Wishlist Button 
        - Shop All Boardgames (small text)

    Why Us?
        - Free Shipping Card
        - Loyalty Points Card
        - Contact Us Card

{% endblock %}