<div class="row">
    <div class="col s12">
        <!--Materialize Tabs-->
        <ul class="tabs more-info-panel">
            <li class="tab col s6"><a href="#details-panel">Details</a></li>
            <li class="tab col s6"><a href="#reviews-panel">Reviews</a></li>
        </ul>
        <!--Details tab-->
        <div class="details-panel col s12" id="details-panel">
            <p><span class="larger-icon"><i class="fas fa-users"></i></span> Number of Players: {{ product.min_players }} - {{ product.max_players }}</p>
            <p><span class="larger-icon"><i class="fas fa-smile"></i></span> Age Suitability: {{ product.min_age }}+</p>
            <p><span class="larger-icon"><i class="fas fa-clock"></i></span> Typical Playtime: {{ product.playing_time }}</p>
            <p><span class="larger-icon"><i class="fas fa-user-edit"></i></span> Designer: {{ product.designer }}</p>
            <p><span class="larger-icon"><i class="fas fa-truck-loading"></i></span> Publisher: {{ product.publisher }}</p>
        </div>
        <!--Reviews tab-->
        <div class="reviews-panel col s12" id="reviews-panel">
            {% if latest_reviews %}
                {% for review in latest_reviews %}
                    <div class="row review-row grey-bottom-border">
                        <div class="col s12">
                            {% include 'reviews/includes/review-content.html' %}
                        </div>
                    </div>
                {% endfor %}
                <p><a href="{% url 'all_reviews' product.id %}">See all reviews for {{ product.name }}</a></p>
            {% else %}
                <div class="row">
                    <div class="col s12">
                    <p>This product is not yet rated.</p>
                    </div>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="center-align review-btn">
                    <a href="{% url 'write_review' product.id %}" class="waves-effect waves-light btn last-btn bg-brown"><i class="fas fa-store-alt prefix"></i> Review {{ product.name }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>