<div class="row">
    <div class="col s12">
        <ul class="tabs more-info-panel">
            <li class="tab col s6"><a href="#details-panel">Details</a></li>
            <li class="tab col s6"><a href="#reviews-panel">Reviews</a></li>
        </ul>
        <div class="details-panel col s12" id="details-panel">
            <p><i class="fas fa-users prefix"></i> Number of Players: {{ product.min_players }} - {{ product.max_players }}</p>
            <p><i class="fas fa-smile prefix"></i> Age Suitability: {{ product.min_age }}+</p>
            <p><i class="fas fa-clock prefix"></i> Typical Playtime: {{ product.playing_time }}</p>
            <p><i class="fas fa-user-edit prefix"></i> Designer: {{ product.designer }}</p>
            <p><i class="fas fa-truck-loading prefix"></i> Publisher: {{ product.publisher }}</p>
        </div>
        <div class="reviews-panel col s12" id="reviews-panel">
            {% if latest_reviews %}
                {% for review in latest_reviews %}
                    <div class="row review-row grey-bottom-border">
                        <div class="col s12">
                            <h4>{{ review.review_title }}</h4>
                            <p class="small review-author">By {{ review.user_profile }}</p>
                            <span class="rating">Rating: {{ review.rating }}/5</span>
                            <p>{{ review.review_text|truncatechars:100 }}</p>
                            {% if review.review_text|length > 100 %}
                                <p class="small review-link"><a href="{% url 'full_review' review.id %}">Read full review</a></p>
                            {% endif %}
                            <p class="small">{{ review.date_published }}</p>
                        </div>
                    </div>
                {% endfor %}
                <p><a href="{% url 'all_reviews' product.id %}">See all reviews for {{ product.name }}</a></p>
            {% else %}
                <div class="row">
                    <div class="col s12">
                    <p>This product is not yet rated.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="center-align">
        {% if user.is_authenticated %}
            <a href="{% url 'write_review' product.id %}" class="waves-effect waves-light btn last-btn bg-brown"><i class="fas fa-store-alt prefix"></i> Review {{ product.name }}</a>
        {% endif %}
    </div>
</div>