{% if product.on_sale %}
    <p class="text-brown"><s class="sale-strikethrough">({{ product.price }})</s> {{ product.sale_price }}</p>
{% else %}
    <p class="text-brown">€{{ product.price }}</p>
{% endif %}
{% if product.inventory <= 0%}
    <span class="stock-info out-of-stock inline-block bold">
        Sorry! Out of stock
    </span>
    {% if user.is_authenticated %}
        <span class="small block">Add it to your wishlist below to see when it's available.</span>
    {% else %}
        <span><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">register</a> to add to your wishlist.</span>
    {% endif %}
{% elif product.inventory < 5 %}
    <span class="stock-info limited-stock inline-block bold">
        Limited availability
    </span>
{% else %}
    <span class="stock-info available inline-block bold">
        Available
    </span>
{% endif %}
{% if average_rating %}
    <p class="small">Average Rating: {{ average_rating | floatformat:1 }}/5</p>
{% else %}
    <p class="small">Product not yet rated</p>
{% endif %}
<p>{{ product.description }}</p>
<div class="product-btns center-align">
    {% if user.is_authenticated %}
        <div class="input-field center-align">
        {% if on_wishlist %}
            <form class="form" method="POST" action="{% url 'remove_from_wishlist' product.id %}">
                {% csrf_token %}
                <button class="btn waves-effect waves-light text-light bg-brown qty-submit block" id="remove-wishlist-btn" type="submit" name="action">
                    <i class="fas fa-heart"></i> Remove from Wishlist
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        {% else %}
            <form class="form" method="POST" action="{% url 'add_to_wishlist' product.id %}">
                {% csrf_token %}
                <button class="btn waves-effect waves-light text-light bg-brown qty-submit block" id="add-wishlist-btn" type="submit" name="action">
                    <i class="far fa-heart"></i> Add to Wishlist
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        {% endif %}
        </div>
    {% else %}
        <a href="#" class="waves-effect waves-light btn wishlist-logged-out"><i class="far fa-heart"></i> Add to Wishlist</a>
    {% endif %}
    
    <div class="quantity-field margin-t1 last-btn">
        {% if product.inventory > 0 %}
        <form class="form" method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <span class="qty-btn qty-decrease" data-product-id="{{ product.id }}" id="decrease-qty_{{ product.id }}"><i class="fas fa-minus-square text-brown"></i></span>
            <input class="product-qty-input narrow-input" type="number" name="quantity" value="1" min="1" max="{{ product.inventory }}" data-item_id="{{ product.id }}" id="product-qty-input">
            <span class="qty-btn qty-increase" data-product-id="{{ product.id }}" id="increase-qty_{{ product.id }}"><i class="fas fa-plus-square text-brown"></i></span>
            <button class="btn waves-effect waves-light text-light bg-brown qty-submit block" id="add-cart-btn" type="submit" name="action">
                <i class="fas fa-cart-plus"></i> Add to Cart
            </button>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>
        {% else %}
            <a href="#" class="waves-effect waves-light btn disabled"><i class="fas fa-frown prefix"></i> Out of Stock</a>
        {% endif %}
    </div>
    {% if product.youtube_video_1 %}
        <div class="gameplay-media video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ product.youtube_video_1 }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endif %}
        {% if product.youtube_video_2 %}
        <div class="gameplay-media video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ product.youtube_video_2 }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endif %}
    
</div>