<script type="text/javascript">
    const increaseQtyBtn = document.querySelector(".qty-increase")

    increaseQtyBtn.addEventListener("click", function() {
        const inputField = increaseQtyBtn.previousElementSibling
        let inputValue = parseInt(inputField.value)
        const maxValue = inputField.getAttribute("max")
        if (inputValue == maxValue) {
            increaseQtyBtn.classList.add("disabled")
        } else {
            inputValue += 1;
            inputField.setAttribute("value", inputValue)
        }
    })
</script>

<script type="text/javascript">
    const decreaseQtyBtn = document.querySelector(".qty-decrease")

    decreaseQtyBtn.addEventListener("click", function() {
        const inputField = decreaseQtyBtn.nextElementSibling
        let inputValue = parseInt(inputField.value)
        if (inputValue == 1) {
            decreaseQtyBtn.classList.add("disabled")
        } else {
            inputValue -= 1;
            inputField.setAttribute("value", inputValue)
        }
    })
</script>