{% extends "base.html" %}

{% load static %}

{% load cart_tools %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block corejs %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block page_header %}
    Breadcrumbs
    <h1>Checkout</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <p>Please fill out the form with your information</p>
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Customer Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend>Delivery Details</legend>
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county_or_state | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                    </fieldset>
                    <div class="col s12 m6">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" name="same-billing-shipping" id="same-billing-shipping"/>
                                <span>Billing details same as delivery details</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in gift-purchase" name="gift_purchase" id="gift_purchase"/>
                                <span>This purchase is a gift</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12">
                        <fieldset class="billing-details none">
                            <legend>Billing Details</legend>
                            {{ order_form.billing_full_name | as_crispy_field }}
                            {{ order_form.billing_street_address1 | as_crispy_field }}
                            {{ order_form.billing_street_address2 | as_crispy_field }}
                            {{ order_form.billing_town_or_city | as_crispy_field }}
                            {{ order_form.billing_county_or_state | as_crispy_field }}
                            {{ order_form.billing_country | as_crispy_field }}
                        </fieldset>
                    </div>
                    <div class="col s12">
                        <fieldset>
                            <legend>{% if user.is_authenticated %}Loyalty Points and {% endif %}Charges</legend>
                            <div class="col s6">
                                <p>Order Total:</p>
                                {% if user.is_authenticated %}
                                    <p>Points Available:</p>
                                    <p>Loyalty Points to Use:</p>
                                {% endif %}
                                <p>Delivery:</p>
                                <p>Grand Total:</p>
                            </div>
                            <div class="col s6">
                                <p>€{{ total | floatformat:2 }}</p>
                                {% if user.is_authenticated %}
                                    <p class="user-loyalty-points">{{ profile.loyalty_points }}</p>
                                    {{ order_form.points_used | as_crispy_field }}
                                {% endif %}
                                <p class="delivery-cost">€{{ delivery | floatformat:2 }}</p>
                                <p class="grand-total">€{{ grand_total | floatformat:2 }}</p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col s12">
                        <fieldset>
                            <legend>Payment Details</legend>
                            <!-- Stripe card element -->
                            <div id="card-element"></div>
                            <!-- Display form errors -->
                            <div id="card-errors" role="alert"></div>
                            <!-- Pass client secret to the view to get payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                    </div>
                    <div class="col s12 form-buttons center-align">
                        <a href="{% url 'view_cart' %}" class="waves-effect waves-light btn"><i class="fas fa-chevron-circle-left"></i> Back to Cart</a>
                        <button class="btn waves-effect waves-light" id="checkout-button" type="submit" name="action"><i class="far fa-credit-card"></i> Pay Securely
                        </button>
                    </div>
                    <div class="col s6">
                    </div>
                    <div class="col s6 left-align">
                        <p class="small">Your card will be charged <span class="grand-total">€{{ grand_total | floatformat:2 }}</span></p>
                        {% if user.is_authenticated %}
                            <p class="small">You will earn {{ points_earned }} loyalty points on this purchase</p>
                        {% else %}
                            <p class="small">Login or register to earn {{ points_earned }} loyalty points on this purchase</p>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="col s12 l6">
                <h2>Order Summary</h2>
                <div class="col s3 m3"></div>
                <div class="col s6 m6">
                    <strong><p>Item</p></strong>
                </div>
                <div class="col s3 m3">
                    <strong><p>Item Subtotal</p></strong>
                </div>
                {% for item in items_in_cart %}
                    <div class="row">
                        <div class="col s3 m3">
                            <p>Image</p>
                        </div>
                        <div class="col s6 m6">
                            <p>{{ item.product.name }}</p>
                            <p>{{ item.quantity }} @ €{{ item.product.price }}</p>
                        </div>
                        <div class="col s3 m3">
                            <p><p>€{{ item.product.price | calculate_subtotal:item.quantity }}</p></p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col s6 offset-s3 m6 offset-m3">
                        <p class="bold">Cart Total:</p>
                    </div>
                    <div class="col s3 m3">
                        <p class="cart-total bold">€{{ total | floatformat:2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script type="text/javascript">
        const billingCheckbox = document.querySelector("#same-billing-shipping")
        const billingDetails = document.querySelector(".billing-details")

        billingCheckbox.addEventListener("change", function() {    
            console.log(billingDetails)
            if (billingCheckbox.checked) {
                billingDetails.classList.add("none");
                autofillBilling()
            } else {
                billingDetails.classList.remove("none")
                autofillBilling()
            }
        })
    </script>
    
    <!--Update settings on id_points_used-->
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const pointsToUse = document.querySelector("#id_points_used")
        const pointsAvailable = document.querySelector(".user-loyalty-points").textContent
        pointsToUse.setAttribute("min", "0");
        pointsToUse.setAttribute("max", pointsAvailable);
        pointsToUse.setAttribute("step", "50");
    })
    </script>
    
    <!--Handle autofilling if billing address same as delivery address checkbox checked-->
    <script type="text/javascript">
        const inputFields = document.querySelectorAll(".input-field")
        inputFields.forEach(inputField => inputField.addEventListener("change", autofillBilling))

        function autofillBilling(){
            if (billingCheckbox.checked) {
                form.billing_full_name.value = form.full_name.value
                form.billing_street_address1.value = form.street_address1.value
                form.billing_street_address2.value = form.street_address2.value
                form.billing_town_or_city.value = form.town_or_city.value
                form.billing_county_or_state.value = form.county_or_state.value
                form.billing_country.value = form.country.value
            } else {
                form.billing_full_name.value = ""
                form.billing_street_address1.value = ""
                form.billing_street_address2.value = ""
                form.billing_town_or_city.value = ""
                form.billing_county_or_state.value = ""
                form.billing_country.value = ""
            }
        }
    </script>

    <!--Initialise Materialize select dropdown-->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
    </script>

    <!--Change grand total to pay when points used-->
    <script type="text/javascript">
        const pointsToUse = document.querySelector("#id_points_used")
        pointsToUse.addEventListener("change", function() {
            // Get cart total and points user has opted to use
            const cartTotal = document.querySelector(".cart-total")
            let cartTotalText = cartTotal.innerText
            const regex = /[€\s]/g
            let totalToPay = parseFloat(cartTotalText.replace(regex, ""))
            const userInputPoints = pointsToUse.value
            const pointsCashEquivalent = userInputPoints / 500

            // Get delivery cost
            let deliveryCost = 0 
            const deliveryText = document.querySelector(".delivery-cost")
            if (deliveryText.innerText === "€6.00") {
                deliveryCost = 6
            }

            // Calculate cart total remaining
            const cartTotalRemaining = (totalToPay - pointsCashEquivalent + deliveryCost).toFixed(2)
            const cartTotalRemainingText = "€" + cartTotalRemaining.toString()
            console.log(cartTotalRemaining)

            // Change grand total text values
            let grandTotal = document.querySelectorAll(".grand-total")
            grandTotal.forEach(total => total.innerText = cartTotalRemainingText)
        })
    </script>

{% endblock %}