{% extends "base.html" %}

{% load static %}

{% load cart_tools %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    Breadcrumbs
    <h1>Order Summary</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <div class="valign-wrapper">
                    <div class="col s2">
                        <i class="fas fa-thumbs-up checkout-thumbs"></i>
                    </div>
                    <div class="col s10">
                        <strong><span class="flow-text block">Order Number: {{ order.order_number }}</span></strong>
                        <span class="block">Thank you, {{ order.full_name }}</span>
                        <span class="block">Order Date: {{ order.order_date }}</span>
                    </div>
                </div>
                <div class="col s12">
                    {% if from_profile %}
                    <p class="flow-text">We hope that your purchase was everything you hoped for and more! If there were any issues, please get in touch with us.</p>
                    {% else %}
                    <p class="flow-text">Your order is confirmed and we'll start getting it ready now!</p>
                    <p class="flow-text">The details of your order can be found below. A confirmation email will be sent to {{ order.email }}</p>
                    <p class="flow-text">We hope you have a great time with your purchases and that you'll shop with us again soon!</p>
                    {% endif %}
                    <div class="center-align">
                        <a href="{% url 'products' %}" class="waves-effect waves-light btn"><i class="fas fa-store-alt prefix"></i> Continue Shopping</a>
                        {% if from_profile %}
                        <a href="{% url 'profile' %}" class="waves-effect waves-light btn"><i class="fas fa-store-alt prefix"></i> Back to Profile</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col s12">
                    <h2><p>Customer Information</p></h2>
                    <strong><p>Delivery Details</p></strong>
                    <span class="block">{{ order.full_name }}</span>
                    <span class="block">{{ order.street_address1 }}</span>
                    {% if street_address2 %}
                        <span class="block">{{ order.street_address2 }}</span>
                    {% endif %}
                    <span class="block">{{ order.town_or_city }}</span>
                    {% if county_or_state %}
                        <span class="block">{{ order.county_or_state }}</span>
                    {% endif %}
                    {% if postcode %}
                        <span class="block">{{ order.postcode }}</span>
                    {% endif %}
                    <span class="block">{{ order.country }}</span>
                    
                    <strong><p>Billing Details</p></strong>
                    <span class="block">{{ order.full_name }}</span>
                    <span class="block">{{ order.street_address1 }}</span>
                    {% if street_address2 %}
                        <span class="block">{{ order.street_address2 }}</span>
                    {% endif %}
                    <span class="block">{{ order.town_or_city }}</span>
                    {% if county_or_state %}
                        <span class="block">{{ order.county_or_state }}</span>
                    {% endif %}
                    {% if postcode %}
                        <span class="block">{{ order.postcode }}</span>
                    {% endif %}
                    <span class="block">{{ order.country }}</span>
                </div>
            </div>
            <div class="col s12 l6">
                <h2>Purchased Items</h2>
                <div class="col s3 m3"></div>
                <div class="col s6 m6">
                    <strong><p>Item</p></strong>
                </div>
                <div class="col s3 m3">
                    <strong><p>Item Subtotal</p></strong>
                </div>
                {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col s3 m3">
                            <p>{{ item.product.image }}</p>
                        </div>
                        <div class="col s6 m6">
                            <p>{{ item.product.name }}</p>
                            <p>{{ item.quantity }} @ €{{ item.product.price }}</p>
                        </div>
                        <div class="col s3 m3">
                            <p>€{{ item.product.price | calculate_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col s6 offset-s3">
                        <p>Order Total:</p>
                        <p>Delivery:</p>
                        <p>Points Used:</p>
                        <p>Grand Total:</p>
                        <p>You earned {{ order.points_earned }} points on this purchase.</p>
                    </div>
                    <div class="col s3">
                        <p>€{{ order.order_total }} </p>
                        <p>€{{ order.delivery_cost }} </p>
                        <p>{{ order.points_used }}</p>
                        <p>€{{ order.grand_total }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

