{% extends "base.html" %}

{% load static %}

{% load cart_tools %}

{% block extra_title %}Thank You For Your Purchase{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container bg-sheer-white text-brown">
        <div class="row">
            <div class="col s12 l6">
                <div class="valign-wrapper">
                    <div class="col s2">
                        <i class="fas fa-thumbs-up checkout-thumbs"></i>
                    </div>
                    <div class="col s10">
                        <!--Order Details-->
                        <span class="block bold small-caps">Order Number:</span>
                        <span class="block bold small-caps flow-text">{{ order.order_number }}</span>
                        <span class="block">Thank you, {{ order.full_name }}</span>
                        <span class="block">Order Date: {{ order.order_date }}</span>
                    </div>
                </div>
                <div class="col s12">
                    <!--Message to Customer-->
                    {% if from_profile %}
                    <p class="flow-text">We hope that your purchase was everything you hoped for and more! If there were any issues, please get in touch with us.</p>
                    {% else %}
                    <p class="flow-text">Your order is confirmed and we'll start getting it ready now!</p>
                    <p class="flow-text">The details of your order can be found below. A confirmation email will be sent to {{ order.email }}</p>
                    <p class="flow-text">We hope you have a great time with your purchases and that you'll shop with us again soon!</p>
                    {% endif %}
                    <div class="center-align">
                        <a href="{% url 'products' %}" class="waves-effect waves-light btn bg-brown text-light"><i class="fas fa-store-alt prefix"></i> Continue Shopping</a>
                        {% if from_profile %}
                        <a href="{% url 'profile' %}" class="waves-effect waves-light btn bg-brown text-light"><i class="fas fa-store-alt prefix"></i> Back to Profile</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col s12">
                    <!--Customer Information-->
                    <h2 class="bold small-caps">Customer Information</h2>
                    <p class="bold small-caps">Delivery Details</p>
                    <span class="block">{{ order.full_name }}</span>
                    <span class="block">{{ order.street_address1 }}</span>
                    {% if street_address2 %}
                        <span class="block">{{ order.street_address2 }}</span>
                    {% endif %}
                    <span class="block">{{ order.town_or_city }}</span>
                    {% if county_or_state %}
                        <span class="block">{{ order.county_or_state }}</span>
                    {% endif %}
                    {% if postcode %}
                        <span class="block">{{ order.postcode }}</span>
                    {% endif %}
                    <span class="block">{{ order.country }}</span>
                    <p class="bold small-caps">Billing Details</p>
                    <span class="block">{{ order.billing_full_name }}</span>
                    <span class="block">{{ order.billing_street_address1 }}</span>
                    {% if billing_street_address2 %}
                        <span class="block">{{ order.billing_street_address2 }}</span>
                    {% endif %}
                    <span class="block">{{ order.billing_town_or_city }}</span>
                    {% if billing_county_or_state %}
                        <span class="block">{{ order.billing_county_or_state }}</span>
                    {% endif %}
                    <span class="block">{{ order.billing_country }}</span>
                </div>
            </div>
            <div class="col s12 l6">
                <!--Purchased Items-->
                <h2 class="bold small-caps">Purchased Items</h2>
                <div class="col s3 m3"></div>
                <div class="col s6 m6">
                    <p class="bold">Item</p>
                </div>
                <div class="col s3 m3">
                    <p class="bold">Item Subtotal</p>
                </div>
                {% for item in order.lineitems.all %}
                    <div class="row valign-wrapper">
                        <div class="col s3 m3">
                            <img src="{{ item.product.boxart.url }}" alt="{{ item.product.name }}" class="responsive-img">
                        </div>
                        <div class="col s6 m6">
                            <p>{{ item.product.name }}</p>
                            {% if item.product.on_sale %}
                                <p class="small">{{ item.quantity }} @ €{{ item.product.sale_price }}</p>
                            {% else %}
                                <p>{{ item.quantity }} @ €{{ item.product.price }}</p>
                            {% endif %}
                        </div>
                        <div class="col s3 m3">
                            {% if item.product.on_sale %}
                                <p>€{{ item.product.sale_price | calculate_subtotal:item.quantity }}</p>
                            {% else %}
                                <p>€{{ item.product.price | calculate_subtotal:item.quantity }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <!--Charges-->
                    <div class="col s6 offset-s3">
                        <p>Order Total:</p>
                        <p>Delivery:</p>
                        <p>Points Used:</p>
                        <p>Grand Total:</p>
                    </div>
                    <div class="col s3">
                        <p>€{{ order.order_total }} </p>
                        <p>€{{ order.delivery_cost }} </p>
                        <p>{{ order.points_used }}</p>
                        <p>€{{ order.grand_total }} </p>
                    </div>
                </div>
                <div class="row"></div>
                    <div class="col s12">
                        <!--Loyalty Points on Purchase-->
                        {% if user.is_authenticated %}
                            <p class="bold">You earned {{ order.points_earned }} loyalty points on this purchase.</p>
                        {% else %}
                            <p class="bold">You could have earned {{ order.points_earned }} loyalty points on this purchase. <a href="{% url 'account_signup' %}">Register for an account</a> or <a href="{% url 'account_login' %}">login</a> to earn points and get discounts on future purchases.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

