<div class="row bottom-nav-row bg-brown">
    <a href="/" class="brand-logo">
        <img src="{{ MEDIA_URL }}bgempire-logo64.png" alt="Boardgame Empire Logo" class="bg-logo responsive-img">
    </a>
    <a href="#" data-target="sidenav-menu" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'products' %}">All Boardgames</a></li>
        <li><a href="#" class="click-dropdown-trigger" data-target="theme-dropdown">Shop by Theme</a></li>
        <ul id="theme-dropdown" class="dropdown-content wide-menu">
            <div class="row">
            {% for category in all_categories %}
                {% if category.is_active %}
                    <div class="col m4">
                        <li class="dropdown-menu-item"><a href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a></li>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </ul>
        <li><a href="#" class="click-dropdown-trigger" data-target="mechanics-dropdown">Shop by Mechanic</a></li>
        <ul id="mechanics-dropdown" class="dropdown-content wide-menu">
            <div class="row">
            {% for mechanic in all_mechanics %}
                {% if mechanic.is_active %}
                    <div class="col m4">
                        <li class="dropdown-menu-item"><a href="{% url 'products' %}?mechanic={{ mechanic.name }}">{{ mechanic.friendly_name }}</a></li>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </ul>
        <li><a href="{% url 'get_deals' %}">Deals</a></li>
        <li><a href="{% url 'game_of_the_month' %}">Game of the Month</a></li>
    </ul>
</div>