<div class="row bottom-nav-row bg-brown">
    <a href="/" class="brand-logo">
        <span class="brand-logo">Site</span>
    </a>
    <a href="#" data-target="sidenav-menu" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">All Boardgames</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="theme-dropdown">Boardgames by Theme</a></li>
        <ul id="theme-dropdown" class="dropdown-content">
            {% for category in all_categories %}
                <li class="dropdown-menu-item">{{ category.friendly_name }}</li>
            {% endfor %}
        </ul>
        <li><a href="#" class="dropdown-trigger" data-target="mechanic-dropdown">Boardgames by Mechanic</a></li>
        <ul id="mechanic-dropdown" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li><a href="#!">three</a></li>
        </ul>
        <li><a href="{% url 'get_deals' %}">Deals</a></li>
        <li><a href="#">Game of the Month</a></li>
    </ul>
</div>