<ul class="sidenav" id="sidenav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'products' %}">All Boardgames</a></li>
    <li><a href="#" class="click-dropdown-trigger" data-target="mobile-theme-dropdown">Boardgames by Theme</a>
        <ul id="mobile-theme-dropdown" class="dropdown-content">
            {% for category in all_categories %}
                {% if category.is_active %}
                    <li class="dropdown-menu-item"><a href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li><a href="#" class="click-dropdown-trigger" data-target="mobile-mechanic-dropdown">Boardgames by Mechanic</a>
        <ul id="mobile-mechanic-dropdown" class="dropdown-content">
            {% for mechanic in all_mechanics %}
                {% if mechanic.is_active %}
                    <li class="dropdown-menu-item"><a href="{% url 'products' %}?mechanic={{ mechanic.name }}">{{ mechanic.friendly_name }}</a></li>
                {% endif %}        
            {% endfor %}
        </ul>
    </li>
    <li><a href="{% url 'get_deals' %}">Deals</a></li>
    <li><a href="{% url 'game_of_the_month' %}">Game of the Month</a></li>
</ul>