<div class="row top-nav-row bg-brown">    
    <ul class="right">
        <li>
            <a href="#">
                <div>
                    <i class="fas fa-search"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="center-align">
                    <i class="fas fa-dice"></i> 
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="center-align">
                    <i class="fas fa-heart"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="center-align">
                    <i class="fas fa-user"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="center-align">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </a>
        </li>
    </ul>
</div>