{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="small-caps bold">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn waves-effect waves-light text-light bg-brown qty-submit block" id="add-cart-btn" type="submit" name="action">
            <i class="fas fa-lock"></i> {% trans "Set Password" %}
        </button>
    </form>
{% endblock %}
