<div class="message message-errors">
    <div class="row valign-wrapper message-header">
        <div class="col s11">
            <h4 class="small-caps bold error"><i class="fas fa-exclamation-triangle"></i> Error!</h4>
        </div>
        <div class="col s1 right-align message-close">
            <button type="button" class="message-close-btn" data-dismiss="message" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="message-body bg-sheer-white">
        {{ message }}
    </div>
</div>
