{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extrameta %}
        {% endblock %}
        
        {% block corecss %}
        {% endblock %}
        
        {% block extracss %}
        {% endblock %}
        
        {% block corejs %}
        {% endblock %}
        
        {% block extrajs %}
        {% endblock %}

        <title>Boardgame Empire | {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        {% if messages %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}    
    </body>
</html>