{% extends "base.html" %}
{% load static %}
{% block extra_title %}Message Sent{% endblock %}
{% block content %}
<div class="container bg-sheer-white text-brown">
    <h1 class="small-caps bold">Thank You!</h1>
    <div class="row">
        <div class="col s12 center-align">
            <p>Thank you for your email. We will be in touch shortly!</p>
            <a href="{% url 'products' %}" class="waves-effect waves-light btn last-btn bg-brown"><i class="fas fa-store-alt prefix"></i> Back to Shopping</a>
        </div>
    </div>
</div>
{% endblock %}