<ul class="slides">
    <li>
        <!--Publisher Spotlight Panel-->
        <div class="slider-overlay">&nbsp;</div>
        <div class="caption left-align">
            <h1 class="text-brown small-caps bold">Publisher Spotlight</h1>
            <p class="text-brown">Check out the best games from <span class="bold">Asmodee</span></p>
                <a href="products/?q=Asmodee" class="waves-effect waves-light btn bg-brown">
                <i class="fas fa-store-alt text-light prefix"></i> 
                Shop the range
            </a>
        </div>
        <img src="{{ MEDIA_URL }}DSC_4587-38154.png" alt="People browsing through boardgames" class="responsive-img">
    </li>
    <li>
        <!--Sales Spotlight Panel-->
        <div class="slider-overlay">&nbsp;</div>
        <div class="caption left-align">
            <h1 class="text-brown small-caps bold">Sales</h1>
            <p class="text-brown">Christmas is coming! Pick up the perfect gift at a discounted price.</p>
            <a href="{% url 'get_deals' %}" class="waves-effect waves-light btn bg-brown"><i class="fas fa-store-alt text-light prefix"></i> See our deals</a>
        </div>
        <img src="{{ MEDIA_URL }}christmas-1280.png" alt="Christmas background">
    </li>
    <li>
        <!--Game of the Month Spotlight Panel-->
        <div class="slider-overlay">&nbsp;</div>
        <div class="caption left-align">
            <h1 class="text-brown small-caps bold">Game of the Month</h1>
            <p class="text-brown"><span class="bold">Hanabi</span> - a cooperative game where players try to create the perfect fireworks display.</p>
            <p class="text-brown">The perfect game to break out for New Years.</p>
            <a class="waves-effect waves-light btn bg-brown" href="{% url 'game_of_the_month' %}"><i class="fas fa-store-alt text-light prefix"></i> See more!</a>
        </div>
        <img src="{{ MEDIA_URL }}fireworks-728413.jpg" alt="Fireworks">
    </li>
</ul>