{% extends 'base.html' %}

{% load static %}

{% block extra_title %}Deals{% endblock %}

{% block content %}
    <div class="container bg-sheer-white text-brown">
        <h1 class="small-caps bold">Deals</h1>
        <div class="row">
            <div class="col s12">
                <p>Showing {{ number_of_results }} {% if number_of_results == 1 %}result{% else %}results{% endif %}{% if query %} for <strong>{{ query }}</strong>{% endif %}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field browser-default col s12 m6">
            <!--Sort selection dropdown-->
            <label for="sort-select-dropdown" class="sort-label">{% if current_sorting != "None-None" %}Currently Sorting By: {% else %}Select Product Sorting{% endif %}</label>
            <select id="sort-select-dropdown" name="sort-select-dropdown" class="sort-select-dropdown browser-default">
                <option value="reset" disabled {% if current_sorting == "None-None" %}selected{% endif %}>Sort By</option>
                <optgroup label="Alphabetically">
                    <option value="name-asc" {% if current_sorting == "name-asc" %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name-desc" {% if current_sorting == "name-desc" %}selected{% endif %}>Name (Z-A)</option>
                </optgroup>
                <optgroup label="By Price">
                    <option value="price-asc" {% if current_sorting == "price-asc" %}selected{% endif %}>Price (Low to High)</option>
                    <option value="price-desc" {% if current_sorting == "price-desc" %}selected{% endif %}>Price (High to Low)</option>
                </optgroup>
                <optgroup label="Min Players">
                    <option value="min_players-asc" {% if current_sorting == "min_players-asc" %}selected{% endif %}>Min Players (Low to High)</option>
                    <option value="min_players-desc" {% if current_sorting == "min_players-desc" %}selected{% endif %}>Min Players (High to Low)</option>
                </optgroup>
                <optgroup label="Max Players">
                    <option value="max_players-desc" {% if current_sorting == "max_players-desc" %}selected{% endif %}>Max Players (High to Low)</option>
                    <option value="max_players-asc" {% if current_sorting == "max_players-asc" %}selected{% endif %}>Max Players (Low to High)</option>
                </optgroup>
                <optgroup label="Playtime">
                    <option value="playing_time-asc" {% if current_sorting == "playing_time-asc" %}selected{% endif %}>Playtime (Shortest to Longest)</option>
                    <option value="playing_time-desc" {% if current_sorting == "playing_time-desc" %}selected{% endif %}>Playtime (Longest to Shortest)</option>
                </optgroup>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="products-panel col s12">
                <!--Products-->
                {% for product in products %}
                <div class="col s12 m6 l4">
                    <div class="card center-align product-card">
                        <div class="card-image">
                            {% if product.boxart %}
                                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.boxart.url }}" alt="{{ product.name }}'s box" class="responsive-img"></a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}"><img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name}}'s box" class="responsive-img"></a>
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <h3 class="card-title small-caps"><a href="{% url 'product_detail' product.id %}" class="text-brown bold">{{ product.name }}</a></h3>
                            {% if product.on_sale %}
                                <p><s class="sale-strikethrough">(€{{ product.price }})</s> €{{ product.sale_price }}</p>
                            {% else %}
                                <p>€{{ product.price }}</p>
                            {% endif %}
                            <p>{{ product.rating }}</p>
                            <div class="product-action-btns margin-t1">
                                <a href="{% url 'product_detail' product.id %}" class="waves-effect waves-light btn details-btn bg-brown text-light"><i class="fas fa-eye prefix"></i> More Details</a>
                                <div class="quantity-field margin-t1 last-btn">
                                    {% if product.inventory > 0 %}
                                    <form class="form" method="POST" action="{% url 'add_to_cart' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <button class="btn waves-effect waves-light text-light bg-brown qty-submit block" type="submit" name="action">
                                            <i class="fas fa-cart-plus"></i> Quick Add to Cart
                                        </button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                    {% else %}
                                        <a href="#" class="waves-effect waves-light btn disabled"><i class="fas fa-frown prefix"></i> Out of Stock</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Initialise Materialize Select menu-->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('select');
            const instances = M.FormSelect.init(elems, {});
        });
    </script>
{% endblock %}