{% extends "base.html" %}

{% load static %}

{% block extra_title %}Game of the Month{% endblock %}

{% block content %}
    <div class="container bg-sheer-white text-brown">
        <h1 class="small-caps bold center-align">Game of the Month</h1>
        <div class="row product-panel">
            <div class="col s12 m6 l4 center-align">
                {% if product.boxart %}
                    <img src="{{ product.boxart.url }}" alt="{{ product.name }}" class="responsive-img">
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name}}" class="responsive-img">
                {% endif %}
            </div>
            <div class="col s12 m6 l8">
                <h3 class="bold small-caps">{{ product.name }}</h3>
                {% include 'products/includes/product-card-content.html' %}
                {% include 'products/includes/product-info-panel.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('.tabs')
            const instance = M.Tabs.init(elems, {
                swipeable: true
            });
        });
    </script>
{% endblock %}
