{% extends "base.html" %}

{% load static %}

{% block extracss %}   
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="product-panel">
            <h2 class="center-align">{{ product.name }}</h2>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                        <img src="{{ product.boxart.url }}" alt="{{ product.name }}" class="responsive-img">
                        </div>
                        <div class="card-content">
                            {% include 'products/includes/product-card-content.html' %}
                            {% include 'products/includes/product-info-panel.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('.tabs')
            const instance = M.Tabs.init(elems, {
                swipeable: true
            });
        });
    </script>

    {% include 'products/includes/quantity_adjustment_script.html' %}
{% endblock %}
